footer{
    width: 100%;
    background: black;
    left: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 30px;
    margin-top: 80px;
}